body{
    background: url('../img/hojas.jpg');
    background-attachment: fixed; 
}

#logo{
    background: #255e3d;
}

#menu ul li:hover{
    background: #255e3d;
}


.button-more{
    background: #255e3d;
}